<%= javascript_include_tag "formoid.min", "application", 'data-turbolinks-track': true %>

<%= javascript_include_tag "jquery-3.2.1", "application", 'data-turbolinks-track': true  %>
<%= javascript_include_tag "jarallax.min", "application", 'data-turbolinks-track': true %>
<%= javascript_include_tag "smooth-scroll", "application", 'data-turbolinks-track': true %>
<%= javascript_include_tag "mbr-tabs", "application", 'data-turbolinks-track': true %>
<%= stylesheet_pack_tag 'application' %>

<%= content_tag :div,
  id: "user_data",
  data: @user.to_json do %>
<% end %>

<%= render 'nav' %>

<br />
<br />
<br />
<br />
<br />

<h2>Sign up</h2>

<%= react_component('hello_react') %>


<%= javascript_pack_tag 'hello_react' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn secondary-color-dark" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
