<%= render 'nav' %>

<br />
<br />
<br />
<br />
<br />
<br />

<%= content_tag :div, class: "container-fluid" do -%>

<h1>Edit article</h1>

<%# form_with(model: @article) supplies actual db data to the form
form_with(scope: :article) supplies just the keys / fields but no data filled in %>

<%= form_with(model: @article) do |form| %>
  <%= render 'form' %>
<% end %>

<%= link_to 'Back', articles_path, :class => "btn btn-primary btn-sm secondary-color-dark" %>

<% end %>

<%= render 'footer' %>

