<%= javascript_include_tag "jquery-3.2.1", "application" %>
<%# # for jquery, brew install yarn --without-node
# then include above directly in main layout page
# then include in assets.rb 'Rails.application.config.assets.precompile += %w( jquery-3.2.1.js )'
# then bin/rails assets:precompile

# for heroku deployment, brew install postgresql
# gem install pg -v '0.21.0' %>

<script>
$(document).ready(function(){
    $(".dropdown-toggle").dropdown("toggle");
});
</script>

<%= render 'nav' %>

<br />

<%= render 'carousel' %>

<br />

<%= content_tag :div, class: "container-fluid" do -%>
        
        <% @articles.each do |article| %>

            <!--Grid row-->
            <div class="row animated fadeInUp">

            <!--Grid column-->
            <div class="col-lg-7 col-xl-7 pb-3">
                <!--Excerpt-->
                <a href="" class="blue-text">
                <h6 class="font-bold pb-1">
                    <i class="fa fa-briefcase"></i> Contracting</h6>
                </a>
                <h3 class="mb-4 font-bold dark-grey-text">
                <strong><%= article.title %></strong>
                </h3>
                <p><%= article.text %></p>
                <p>by
                <a>
                    <strong>Richard Johns</strong>
                </a>, 29/12/2017</p>
                <tr>
                    <td><%= link_to 'Show', article_path(article), :class => "btn btn-primary btn-sm secondary-color-dark" %></td>
                    <td><%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary btn-sm secondary-color-dark" %></td>
                    <td><%= link_to 'Destroy',  article_path(article), :class => "btn btn-primary btn-sm secondary-color-dark",
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
                <tr/>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-5 col-xl-5 mb-5">
                <!--Featured image-->
                <div class="view overlay hm-white-slight rounded z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Second image in the first version of blog listing"
                    class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
                </div>
            </div>
            <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="mb-5 mt-4 pb-3">

        <% end %>
        
<%= link_to 'New article', new_article_path, :class => "btn btn-primary btn-sm secondary-color-dark" %>

<% end -%>

<%= render 'indexfooter' %>


