<%= render 'nav' %>

<br />
<br />
<br />
<br />

<%= render 'carousel' %>

<br />

<%= content_tag :div, class: "container-fluid" do -%>
        
        <% @articles.each do |article| %>

            <%= content_tag :div, class: "media d-flex" do -%>
                <%= content_tag :img, class: "align-self-start mr-3", src: "http://via.placeholder.com/64x64" do -%>
                <%= content_tag :div, class: "media-body" do -%>
                    <h5 class="mt-0"><%= article.title %></h5>
                    <p><%= article.text %><p/>
                    <tr>
                    <td><%= link_to 'Show', article_path(article), :class => "btn btn-primary btn-sm secondary-color-dark" %></td>
                    <td><%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary btn-sm secondary-color-dark" %></td>
                    <td><%= link_to 'Destroy',  article_path(article), :class => "btn btn-primary btn-sm secondary-color-dark",
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
                    <tr/>
                    <hr />

                <% end -%>
                <% end -%>
            <% end -%>

        <% end %>
        
<%= link_to 'New article', new_article_path, :class => "btn btn-primary btn-sm secondary-color-dark" %>

<% end -%>

<%= render 'footer' %>


